# Book Scraper

> https://books.toscrape.com/

### Extract all books and their prices from all pages

In [6]:
import pandas as pd
from tqdm import tqdm
import requests
from bs4 import BeautifulSoup

In [ ]:
data = []
for i in tqdm(range(1,51)):
    link = 'https://books.toscrape.com/catalogue/page-'
    link1 = link + str(i) + '.html'  # it total has 50 pages
    res = requests.get(link1)
    soup = BeautifulSoup(res.text, 'html.parser')
    
    for i in soup.find_all('article',class_='product_pod'):
        title = i.find('h3').text
#         print(title)
        price = i.find('p', class_='price_color').text
#         print(price)
        
        data.append([title, price])

 20%|██████████████████████▌                                                                                          | 10/50 [00:12<00:48,  1.21s/it]

In [ ]:
data

In [ ]:
len(data)

In [29]:
df = pd.DataFrame(data, columns=["Title", "Prices"])

In [30]:
df

                                 Title  Prices
0              It's Only the Himalayas  £45.17
1              You can't bury them ...  £33.63
2           The Natural History of ...  £45.22
3              Rat Queens, Vol. 3: ...  £50.40
4                In the Country We ...  £22.00
5      Avatar: The Last Airbender: ...  £28.09
6                         The Stranger  £17.44
7               The Cookies & Cups ...  £41.25
8                         Mrs. Houdini  £30.25
9      Deliciously Ella Every Day: ...  £42.16
10              Why the Right Went ...  £52.65
11          The Rosie Project (Don ...  £54.04
12                    Take Me with You  £45.21
13   Naruto (3-in-1 Edition), Vol. ...  £38.39
14          Hush, Hush (Hush, Hush ...  £47.02
15            Cometh the Hour (The ...  £25.01
16         Angels & Demons (Robert ...  £51.48
17        The Silent Sister (Riley ...  £46.29
18              How to Speak Golf: ...  £58.32
19           Off the Hook (Fishing ...  £47.67
20  10-Day Green Smoothie Cleanse: ...  £49.71
21                 Don't Forget Steven  £33.23
22             Shadows of the Past ...  £39.67
23                   History of Beauty  £10.29
24                           The Whale  £35.96
25              Playing from the Heart  £32.38
26    Blue Like Jazz: Nonreligious ...  £25.77
27          The Collected Poems of ...  £15.42
28              A Year in Provence ...  £56.88
29                     The Expatriates  £44.58
30                   Kill the Boy Band  £15.52
31           America's War for the ...  £51.22
32                          Some Women  £13.73
33           Fruits Basket, Vol. 4 ...  £50.44
34           We Are All Completely ...  £24.04
35        The Smitten Kitchen Cookbook  £23.59
36                     The Lonely Ones  £43.59
37             The Day the Crayons ...  £26.33
38   Shopaholic & Baby (Shopaholic ...  £46.45
39               One for the Money ...  £32.87
40     Lady Renegades (Rebel Belle ...  £53.04
41          Golden (Heart of Dread ...  £42.21
42                              Cosmos  £36.17
43             Are We Smart Enough ...  £56.58
44             Girl Online On Tour ...  £53.47
45                    The Selfish Gene  £29.45
46             The Communist Manifesto  £14.76
47               One Second (Seven #7)  £52.94
48           Fruits Basket, Vol. 1 ...  £40.28
49             1,000 Places to See ...  £26.08